.store-login-wrapper {
    .store-login-pull-right {
        @include small() {
            float: left;
        }
        right: 0;
        float: right;
        position: relative;
    }
    .store-login-policy {
        top: -5px;
        position: relative;
    }
    .store-hide-show-password {
        float: right;
        top: -30px;
        position: relative;
        right: 30px;
        cursor: pointer;
        .fa {
            color: var(--blue-bunting);
        }
    }
}