.store-favories-wrapper {
    .store-favories-sleep {
        text-align: -webkit-center;
    }
    .store-favories-steps {
        display: inline-flex;
    }
    .product {
        &:hover {
            box-shadow: none;
        }
    }
}