@import './uikit';
@import './variables';

.store-text-white {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--white);
}

.store-text-beige {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--beige);
}

.store-text-slate-grey {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--slate-grey);
}

.store-text-tomato {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--tomato);
}

.store-text-silver {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--silver);
}

.store-text-silver-two {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--silver-two);
}

.store-text-blue-sky {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--blue-sky);
}

.store-text-black {
    color: var(--black);
}

.store-separator {
    margin: 2rem 0;
}

.store-logo-container {
    display: flex;
}
.store-logo-flag-green {
    background-color: green;
    width: 35px;
    height: 5px;
    margin: 0 5px 0 0;
}
.store-logo-flag-red {
    background-color: red;
    width: 35px;
    height: 5px;
    margin: 0 5px 0 0;
}
.store-logo-flag-yellow {
    background-color: yellow;
    width: 35px;
    height: 5px;
}
.store-create-account {
    display: inline-grid;
}