@import './uikit';
@import './variables';

.store-text-white {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--white);
}

.store-text-beige {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--beige);
}

.store-text-slate-grey {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--slate-grey);
}

.store-text-tomato {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--tomato);
}

.store-text-silver {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--silver);
}

.store-text-silver-two {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--silver-two);
}

.store-text-blue-sky {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--blue-sky);
}

.store-text-black {
    color: var(--black);
}

.store-separator {
    margin: 2rem 0;
}

.store-logo-container {
    display: flex;
}

.store-logo-flag-green {
    background-color: green;
    width: 35px;
    height: 5px;
}

.store-logo-flag-red {
    background-color: red;
    width: 35px;
    height: 5px;
}

.store-logo-flag-yellow {
    background-color: yellow;
    width: 35px;
    height: 5px;
}

.store-create-account {
    display: inline-grid;
}

.store-logout {
    display: grid;
}

.store-logo-page {
    text-align: -webkit-center;
    text-align: -moz-center;

    .store-logo-container {
        display: inline-flex;
    }
}



.store-footer-link {
    float: right;
    display: flex;

    li {
        margin: 0px 5px;
    }

    li:before {
        color: #e72e00;
        content: "\00A0 \2022";
        padding: 0 5px;
    }

    li:first-child:before {
        content: "";
        padding-right: 0;
    }
}