@import '../public/assets/scss/ecommerce-tech';

body {
  font-family: "Open Sans", sans-serif !important;
  //background-color: var(--silver-two) !important;
}

//Test Orange Tangerine
.header-top a:hover,
.header-top a:focus,
.wishlist a:focus,
.cart-dropdown.show .dropdown-toggle,
.compare-dropdown.show .dropdown-toggle,
.compare-product-title a:hover,
.compare-product-title a:focus,
.compare-actions .action-link:hover,
.compare-actions .action-link:focus,
.cart-dropdown .product-title a:hover,
.cart-dropdown .product-title a:focus,
.menu-vertical>li:hover>a,
.menu-vertical>li.show>a,
.menu-vertical>li.active>a,
.menu li:hover>a,
.header-3 .header-search-extended .btn:hover,
.header-3 .header-search-extended .btn:focus,
.header-4 .header-search-extended .btn:focus,
.nav.nav-pills .nav-link:hover,
.nav.nav-pills .nav-link:focus,
.form-tab .form-footer a:hover,
.form-tab .form-footer a:focus,
.btn-link,
.form-tab .form-footer a,
.compare-product-title a:hover {
  color: var(--yellow-amber) !important;
}

.category-dropdown .dropdown-toggle:hover,
.category-dropdown .dropdown-toggle:focus,
.category-dropdown:not(.is-on):hover .dropdown-toggle,
.header-bottom .menu>li>a:before,
.nav.nav-border-anim .nav-link:before,
.header,
.widget-list a:before,
.header-bottom.fixed,
.btn-outline-primary-2:hover,
//.btn-primary:hover,
.btn-outline-primary:hover,
button[type="submit"].store-btn {
  background-color: var(--yellow-amber) !important;
  color: #fff !important;
}

.btn-outline-primary-2,
.btn-primary,
.btn-outline-primary,
.btn-link:hover,
.btn-link:focus,
.btn-link .btn-link-dark:hover,
.btn-link .btn-link-dark:focus {
  color: var(--yellow-amber) !important;
  border-color: var(--yellow-amber) !important;
}

.btn-outline-primary-2:hover,
.btn-outline-primary-2:focus,
.btn-outline-primary-2.focus,
.btn-outline-primary-2:not(:disabled):not(.disabled):active,
.btn-outline-primary-2:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary-2.dropdown-toggle,
a.btn-primary {
  color: #fff !important;
  background-color: var(--yellow-amber) !important;
  border-color: var(--yellow-amber) !important;
}

.nav.nav-pills .nav-item.show .nav-link,
.nav.nav-pills .nav-item .nav-link.active {
  color: var(--yellow-amber) !important;
  border-bottom-color: var(--yellow-amber) !important;
}

.form-control:focus {
  border-color: var(--yellow-amber) !important;
}

.icon-box-side {
  border: .2rem solid #39f !important;
}

.cart-dropdown .cart-count,
.wishlist a .wishlist-count,
.store-create-account .btn-g:hover,
.store-btn .btn-g:hover,
.store-logout .btn-g:hover,
.store-favoris .btn-g:hover {
  background-color: #fff !important;
  color: var(--yellow-amber) !important;
}

.header-intro-clearance .header-middle .header-right p {
  color: #fff !important;
}

.wishlist a:hover,
.cart-dropdown:hover .dropdown-toggle,
.compare-dropdown:hover .dropdown-toggle,
.header-intro-clearance .header-bottom .menu>li>a,
.header-intro-clearance .header-bottom .header-right p,
.header-right-login a {
  color: #fff !important;
}

.header-4 .dropdown.category-dropdown .dropdown-toggle:not(:hover):not(:focus),
.header-intro-clearance .header-bottom .container::after {
  background-color: #fff !important;
}

.header-bottom .menu li:hover>a:before,
.header-bottom .menu li.show>a:before,
.header-bottom .menu li.active>a:before {
  border-top: 1px solid #fff;
}

//Ovveride Styles
.header-4 .header-bottom {
  background-color: inherit;
}

.header-4 .header-middle {
  margin: 2rem 0;
}

.cart-dropdown .dropdown-menu,
.compare-dropdown .dropdown-menu {
  width: 336px;
}

.header-intro-clearance .header-middle .header-left {
  display: block;
}

.logo {
  margin: 1rem 0;
  //margin: -20px 0rem 5px;
}

.footer .widget-title {
  text-transform: uppercase;
}

.header-dropdown:hover>.header-menu,
.header-dropdown:focus>.header-menu {
  width: 120px;
}

.header-intro-clearance .header-menu ul {
  width: 120px;
}

.compare-product-title a::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .1rem;
  background-color: var(--yellow-amber) !important;
  transform-origin: right center;
  transform: scale(0, 1);
  transition: transform .3s ease;
}

.compare-product-title a:hover:before {
  transform-origin: left center;
  transform: scale(1, 1);
}

.header-menu ul li {
  padding: 5px;
}

.footer {
  background-color: #333;

  p,
  li a,
  i,
  .widget-call {
    color: white;
  }

  .widget h4,
  .widget-call a,
  a:hover,
  a:focus {
    color: var(--yellow-amber);
  }
}