//Section configuration Style of Template

body {
    font-family: "Open Sans", sans-serif !important;
    //background-color: var(--silver-two) !important;
}

// Color Tomato
.contact-list i {
    color: var(--tomato) !important;
}

// Color Blue Bunting
.breadcrumb-item a,
.header-top a:hover,
.header-top a:focus,
.wishlist a:focus,
.cart-dropdown.show .dropdown-toggle,
.compare-dropdown.show .dropdown-toggle,
.compare-product-title a:hover,
.compare-product-title a:focus,
.compare-actions .action-link:hover,
.compare-actions .action-link:focus,
.cart-dropdown .product-title a:hover,
.cart-dropdown .product-title a:focus,
.menu-vertical>li:hover>a,
.menu-vertical>li.show>a,
.menu-vertical>li.active>a,
.menu li:hover>a,
.header-3 .header-search-extended .btn:hover,
.header-3 .header-search-extended .btn:focus,
.header-4 .header-search-extended .btn:focus,
.nav.nav-pills .nav-link:hover,
.nav.nav-pills .nav-link:focus,
.form-tab .form-footer a:hover,
.form-tab .form-footer a:focus,
.btn-link,
.form-tab .form-footer a,
.compare-product-title a:hover,
.owl-simple .owl-nav .owl-next:hover,
.owl-simple .owl-nav .owl-prev:hover,
.banner-link,
.title-link,
.owl-testimonials.owl-theme .owl-nav [class*='owl-'] .icon-angle-left:before,
.owl-testimonials.owl-theme .owl-nav [class*='owl-'] .icon-angle-right:before,
.icon-angle-right:before,
.icon-angle-left:before,
.icon-box-icon,
.menu-vertical i::before,
.nav-dashboard .nav-link {
    color: var(--blue-bunting) !important;
}

//.category-dropdown .dropdown-toggle:hover,
.category-dropdown .dropdown-toggle:focus,
.category-dropdown:not(.is-on):hover .dropdown-toggle,
.header-bottom .menu>li>a:before,
.nav.nav-border-anim .nav-link:before,
.header,
.header-bottom.fixed,
.btn-outline-primary-2:hover,
//.btn-primary:hover,
.btn-outline-primary:hover,
button[type="submit"].store-btn,
.banner-badge .banner-link:hover .banner-link-text,
.banner-badge .banner-link:focus .banner-link-text,
.owl-full .owl-dots .owl-dot:hover span {
    background-color: var(--blue-bunting) !important;
    color: #fff !important;
}

.btn-outline-primary-2,
.btn-primary,
.btn-outline-primary,
.btn-link:hover,
.btn-link:focus,
.btn-link .btn-link-dark:hover,
.btn-link .btn-link-dark:focus,
.input-group-append .btn-primary:hover {
    color: var(--blue-bunting) !important;
    border-color: var(--blue-bunting) !important;
}

.btn-outline-primary-2:hover,
.btn-outline-primary-2:focus,
.btn-outline-primary-2.focus,
.btn-outline-primary-2:not(:disabled):not(.disabled):active,
.btn-outline-primary-2:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary-2.dropdown-toggle,
a.btn-primary,
.owl-theme.owl-light .owl-nav [class*='owl-']:not(.disabled):hover,
.owl-theme .owl-nav [class*='owl-']:not(.disabled):hover,
.banner-link:hover,
.input-group-append .btn-primary,
.owl-full .owl-dots .owl-dot.active span,
.owl-theme.owl-light .owl-dots .owl-dot.active span,
.icon-box-circle .icon-box-icon {
    color: #fff !important;
    background-color: var(--blue-bunting) !important;
    border-color: var(--blue-bunting) !important;
}

.nav.nav-pills .nav-item.show .nav-link,
.nav.nav-pills .nav-item .nav-link.active {
    color: var(--blue-bunting) !important;
    border-bottom-color: var(--blue-bunting) !important;
}

.form-control:focus,
.owl-full .owl-dots .owl-dot span {
    border-color: var(--blue-bunting) !important;
}

.icon-box-side {
    border: .2rem solid var(--blue-bunting) !important;
}

.title-link:hover,
.title-link:focus {
    box-shadow: 0 1px 0 0 var(--blue-bunting) !important;
}

.cart-dropdown .cart-count,
.wishlist a .wishlist-count,
.store-create-account .btn-g:hover,
.store-btn .btn-g:hover,
.store-logout .btn-g:hover,
.store-favoris .btn-g:hover,
.store-btn-hover .btn-g:hover {
    background-color: #fff !important;
    color: var(--blue-bunting) !important;
}

.breadcrumb-item a:hover,
.breadcrumb-item a:focus,
.footer a:hover,
.footer a:focus,
.wishlist a:hover,
.cart-dropdown:hover .dropdown-toggle,
.compare-dropdown:hover .dropdown-toggle,
.header-intro-clearance .header-bottom .menu>li>a,
.header-intro-clearance .header-bottom .header-right p,
.header-intro-clearance .header-bottom .header-right i,
.header-intro-clearance .header-bottom .header-right .highlight,
.header-intro-clearance .header-middle .header-right p,
.header-right-login a {
    color: var(--yellow-amber) !important;
}

.widget-list a:before {
    background-color: var(--yellow-amber) !important;
}

//.header-intro-clearance .header-bottom .menu>li>a,
//.header-intro-clearance .header-bottom .header-right p,
.header-4 .mobile-menu-toggler,
.header-right-login a:hover,
.owl-theme .owl-nav [class*='owl-']:not(.disabled):hover .icon-angle-left:before,
.owl-theme .owl-nav [class*='owl-']:not(.disabled):hover .icon-angle-right:before {
    color: #fff !important;
}

//.header-4 .dropdown.category-dropdown .dropdown-toggle:not(:hover):not(:focus),
.header-intro-clearance .header-bottom .container::after {
    background-color: #fff !important;
}

.header-bottom .menu li:hover>a:before,
.header-bottom .menu li.show>a:before,
.header-bottom .menu li.active>a:before {
    border-top: 1px solid #fff;
}

// Configuration Small Devices
@include small() {
    .product-action:not(.product-action-dark) .btn-product:not(:hover):not(:focus) span,
    .store-logo {
        display: none;
    }
    .widget-call {
        max-width: initial;
    }
    .store-footer-wrapper {
        .store-footer-container {
            div:last-child {
                justify-content: center;
            }
        }
        .social-icons {
            justify-content: center;
        }
    }
}