//Section configuration Style of Template

body {
    font-family: "Open Sans", sans-serif !important;
    //background-color: var(--silver-two) !important;
}

//Test Orange Tangerine
.header-top a:hover,
.header-top a:focus,
.wishlist a:focus,
.cart-dropdown.show .dropdown-toggle,
.compare-dropdown.show .dropdown-toggle,
.compare-product-title a:hover,
.compare-product-title a:focus,
.compare-actions .action-link:hover,
.compare-actions .action-link:focus,
.cart-dropdown .product-title a:hover,
.cart-dropdown .product-title a:focus,
.menu-vertical>li:hover>a,
.menu-vertical>li.show>a,
.menu-vertical>li.active>a,
.menu li:hover>a,
.header-3 .header-search-extended .btn:hover,
.header-3 .header-search-extended .btn:focus,
.header-4 .header-search-extended .btn:focus,
.nav.nav-pills .nav-link:hover,
.nav.nav-pills .nav-link:focus,
.form-tab .form-footer a:hover,
.form-tab .form-footer a:focus,
.btn-link,
.form-tab .form-footer a,
.compare-product-title a:hover {
    color: var(--blue-bunting) !important;
}

.category-dropdown .dropdown-toggle:hover,
.category-dropdown .dropdown-toggle:focus,
.category-dropdown:not(.is-on):hover .dropdown-toggle,
.header-bottom .menu>li>a:before,
.nav.nav-border-anim .nav-link:before,
.header,
.header-bottom.fixed,
.btn-outline-primary-2:hover,
//.btn-primary:hover,
.btn-outline-primary:hover,
button[type="submit"].store-btn {
    background-color: var(--blue-bunting) !important;
    color: #fff !important;
}

.btn-outline-primary-2,
.btn-primary,
.btn-outline-primary,
.btn-link:hover,
.btn-link:focus,
.btn-link .btn-link-dark:hover,
.btn-link .btn-link-dark:focus {
    color: var(--blue-bunting) !important;
    border-color: var(--blue-bunting) !important;
}

.btn-outline-primary-2:hover,
.btn-outline-primary-2:focus,
.btn-outline-primary-2.focus,
.btn-outline-primary-2:not(:disabled):not(.disabled):active,
.btn-outline-primary-2:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary-2.dropdown-toggle,
a.btn-primary {
    color: #fff !important;
    background-color: var(--blue-bunting) !important;
    border-color: var(--blue-bunting) !important;
}

.nav.nav-pills .nav-item.show .nav-link,
.nav.nav-pills .nav-item .nav-link.active {
    color: var(--blue-bunting) !important;
    border-bottom-color: var(--blue-bunting) !important;
}

.form-control:focus {
    border-color: var(--blue-bunting) !important;
}

.icon-box-side {
    border: .2rem solid #39f !important;
}

.cart-dropdown .cart-count,
.wishlist a .wishlist-count,
.store-create-account .btn-g:hover,
.store-btn .btn-g:hover,
.store-logout .btn-g:hover,
.store-favoris .btn-g:hover {
    background-color: #fff !important;
    color: var(--blue-bunting) !important;
}

.footer a:hover,
.footer a:focus,
.wishlist a:hover,
.cart-dropdown:hover .dropdown-toggle,
.compare-dropdown:hover .dropdown-toggle,
.header-intro-clearance .header-bottom .menu>li>a,
.header-intro-clearance .header-bottom .header-right p,
.header-intro-clearance .header-bottom .header-right i,
.header-intro-clearance .header-bottom .header-right .highlight,
.header-intro-clearance .header-middle .header-right p,
.header-right-login a {
    color: var(--yellow-amber) !important;
}

.widget-list a:before {
    background-color: var(--yellow-amber) !important;
}

//.header-intro-clearance .header-bottom .menu>li>a,
//.header-intro-clearance .header-bottom .header-right p,
.header-right-login a:hover {
    color: #fff !important;
}

.header-4 .dropdown.category-dropdown .dropdown-toggle:not(:hover):not(:focus),
.header-intro-clearance .header-bottom .container::after {
    background-color: #fff !important;
}

.header-bottom .menu li:hover>a:before,
.header-bottom .menu li.show>a:before,
.header-bottom .menu li.active>a:before {
    border-top: 1px solid #fff;
}