.store-required {
    color: var(--tomato) !important;
    font-weight: 700;
    font-size: 15px;
    left: 5px;
    position: relative;
}
.store-fullwidth-btn {
    width: 100% !important;
    margin-right: auto !important;
}