//Section to overwrite existing styles of Template

/*******************/
/* Header Section */
/******************/
.header-4 .header-bottom {
    background-color: inherit;
}

.header-menu ul li {
    padding: 5px;
}

.header-4 .header-middle {
    margin: 2rem 0;
}

.header-intro-clearance .header-middle .header-left {
    display: block;
}

.header-dropdown:hover>.header-menu,
.header-dropdown:focus>.header-menu {
    width: 120px;
}

.header-intro-clearance .header-menu ul {
    width: 120px;
}

.logo {
    margin: 1rem 0;
    //margin: -20px 0rem 5px;
}

.header-intro-clearance .wishlist {
    padding-left: 2rem;
}

.header-4 .header-search-extended {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/***************************/
/* Cart & Compare Section */
/**************************/
.cart-dropdown .dropdown-menu,
.compare-dropdown .dropdown-menu {
    width: 336px;
}

.compare-product-title a:hover:before {
    transform-origin: left center;
    transform: scale(1, 1);
}

.compare-product-title a::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .1rem;
    background-color: var(--blue-bunting) !important;
    transform-origin: right center;
    transform: scale(0, 1);
    transition: transform .3s ease;
}

/*******************/
/* Footer Section */
/******************/
.footer .widget-title {
    text-transform: uppercase;
}

.footer {
    background-color: var(--blue-bunting) !important;

    p,
    li a,
    i,
    .widget-call {
        color: white;
    }

    .widget h4,
    .widget-call a {
        color: var(--yellow-amber);

        i {
            color: var(--yellow-amber);
        }
    }
}

/********************/
/* Product Section */
/*******************/
.product:hover {
    box-shadow: rgb(61, 57, 61) 5px 5px 5px 0px;
}

.product-details-tab .nav.nav-pills .nav-link:hover,
.product-details-tab .nav.nav-pills .nav-link:focus {
    border-bottom-color: var(--blue-bunting) !important;
}

.product .btn-product:hover,
.product .btn-product:focus {
    background-color: #fff !important;
    border: 1px solid var(--blue-bunting) !important;

    span {
        color: #fff !important;
    }
}

.btn-product-icon {
    color: var(--blue-bunting) !important;
    border-color: var(--blue-bunting) !important;
    background-color: transparent;
    border: 0.1rem solid var(--blue-bunting) !important;

    span {
        background-color: var(--blue-bunting) !important;
    }
}

.product.product-7 .btn-product:hover,
.product.product-7 .btn-product:focus,
.product .btn-product:hover span,
.product .btn-product:focus span,
.product.product-list .btn-wishlist:hover,
.product.product-list .btn-wishlist:focus {
    color: var(--blue-bunting) !important;
}

.product.product-list .btn-wishlist:hover,
.product.product-list .btn-wishlist:focus {
    border: none !important;
}

.product.product-2 .product-action {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.product.product-2 .product-action {
    a {
        padding: 0.75rem !important;

        &:hover,
        &:focus {
            color: var(--blue-bunting) !important;
        }
    }

}

.product-action:not(.product-action-dark) .btn-product:not(:hover):not(:focus),
.product.product-list .btn-product.btn-cart:hover,
.product.product-list .btn-product.btn-cart:focus {
    background: var(--blue-bunting) !important;
    color: #fff !important;

    &:before,
    span {
        color: #fff !important;
    }
}

.product.product-list .btn-product.btn-cart,
.product.product-list .btn-quickview:hover,
.product.product-list .btn-quickview:focus,
.product.product-list .btn-compare:hover,
.product.product-list .btn-compare:focus {
    border: 1px solid var(--blue-bunting) !important;

    &:before,
    span {
        color: var(--blue-bunting) !important;
        box-shadow: none;
    }
}

.product.product-2 .btn-product:hover {
    span {
        box-shadow: none;
    }
}

.product.product-list {
    .product-action {
        margin: 0px 5px 1.2rem;
    }
    a.btn-cart {
        margin: 0px 5px;
    }
}

/**************************/
/* Scroll to Top section */
/************************/
#scroll-top {
    background: var(--blue-bunting) !important;
    color: white;
}

/***********************/
/* HeroBanner section */
/**********************/
.page-header {
    padding: 6rem 0 6rem;
}

/****************/
/* Faqs section */
/****************/
.banner-badge .banner-link:hover .banner-link-text,
.banner-badge .banner-link:focus .banner-link-text {
    cursor: pointer;
}