.store-text-white {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--white);
}

.store-text-beige {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--beige);
}

.store-text-slate-grey {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--slate-grey);
}

.store-text-tomato {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--tomato);
}

.store-text-blue-bunting {
    //font-family: "Montserrat",
        //sans-serif !important;
    color: var(--blue-bunting);
}

.store-text-silver {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--silver);
}

.store-text-silver-two {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--silver-two);
}

.store-text-blue-sky {
    font-family: "Montserrat",
        sans-serif !important;
    color: var(--blue-sky);
}

.store-text-black {
    color: var(--black);
}

.store-separator {
    margin: 2rem 0;
}

.store-logo-container {
    position: relative;
    top: -5px;
    display: flex;
}

.store-logo-flag-green {
    background-color: var(--green);
    width: 35px;
    height: 5px;
}

.store-logo-flag-red {
    background-color: var(--tomato);
    width: 35px;
    height: 5px;
}

.store-logo-flag-yellow {
    background-color: var(--yellow-amber);
    width: 35px;
    height: 5px;
}

.store-create-account {
    display: inline-grid;
}

.store-btn {
    display: flex;
}

.store-logout {
    display: grid;
}

.store-logo-page {
    text-align: -webkit-center;
    text-align: -moz-center;

    .store-logo-container {
        display: inline-flex;
    }
}

.store-icon-large {
    font-size: 100px !important;
}

.store-icon-medium {
    font-size: 25px !important;
}

.store-icon-padding-right {
    padding-right: 10px;
}

.store-text-cta {
    text-transform: uppercase;
}

.store-reset-confirmation {
    border-bottom: .1rem solid #ebebeb;
}

.store-img-flag {
    width: 25px;
    height: 25px;
}

.store-selected-lang {
    display: flex;
    cursor: pointer;
    left: 10px;
    position: relative;

    p {
        padding-left: 5px;
    }
}

.store-full-width {
    width: 100%;
}

.store-search {
    right: 30px;
    position: relative;
}

.store-form-control {
    padding: 1rem 2.4rem 1rem 2.5rem !important;
}

.store-divider-line {
    padding-bottom: 4.5rem;
    margin-bottom: 4.5rem;
    border-bottom: .1rem solid #ebebeb;
}

.store-dropdown-toggle {
    padding: 20px 25px !important;
}

.store-display-none {
    display: none !important;
}

.store-background-blue-bunting {
    background: var(--blue-bunting);
    color: var(--white);
}