// Colors
:root {
    --orange-tangerine: #d39700;
    --blue-cello: #405365;
    --blue-dodger: #39f;
    --blue-bunting: #293847;
    --yellow-amber: #ffc107;
    --tomato: #d12420;
    --beige: #f6d3d2;
    --slate-grey: #63666a;
    --silver: #e0e0e1;
    --silver-two: #eff0f0;
    --black: #000000;
    --blue-sky: #00b5ff;
}

//Letters Spacing
$store-letter-spacing: 0.5rem;